<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:course_registration_system), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:home), root_url %></li>
        <li><%= link_to t(:info), info_path %></li>
        <% if logged_in? %>
          <li><%= link_to t(:users), users_path %></li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <%= t(:acccount) %>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(:profile), current_user %></li>
              <li><%= link_to t(:settings), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li> <%= link_to t(:log_out), logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:log_in), login_path %></li>
        <% end %>
        <li><%= link_to "en", locale: :en %></li>
        <li><%= link_to "my", locale: :my %></li>
      </ul>
    </nav>
  </div>
</header>
